################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
*.suo
/.vs/SaveEyes/v15/Server/sqlite3/db.lock
